.profile {
    background: #fff;
    margin-left: 3px;
    height: 100%;
    padding-top: 87px;
    h1 {
        padding: 20px 0;
        text-align: center;
    }
    &__container {
        margin: 0 auto;
        max-width: 600px;
    }
}
