$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 856px;
$fontFamily: "TTNorms", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
